.popup__error{
    font-family: Inter;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    color: #FF0000;
    margin-bottom: 12px;

}

.popup__error:last-of-type {
    margin-bottom: 0;
  }